<!-- Donate Now Section -->
<section class="donate-now" style="background-image: url('/images/honourable.jpg'); background-size: cover; background-position: center; position: relative; height: 100vh; color: #fff; text-align: center;">
    <div class="overlay" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(60, 3, 34, 0.638);"></div>
    
    <div class="container position-relative" style="z-index: 1; padding-top: 20vh;">
      <h1 class="display-3 font-weight-bold mb-4">Donate Now <br> Make a Lasting Impact</h1>
      <p class="lead mb-5">Your generous donation can change lives. At Honourable Ladies of Value Foundation (HLOVF), we are dedicated to uplifting orphans, widows, and the less privileged in Nigeria. From providing comfortable homes for orphans to empowering widows and supporting women in business, your support helps us reach those who need it most. Every contribution, no matter how small, makes a real difference.</p>
      <a style="background-color: deeppink;" href="/donate" class="btn btn-warning btn-lg">Donate Today</a>
    </div>
</section>