  body, html {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
  }

  .main-content {
    padding: 20px;
    background-color: #f8f9fa;
    min-height: 100vh;
    overflow-y: auto;
  }

  .card:hover {
    transform: scale(1.05);
  }

  .card {
    transition: transform 0.3s;
  }

  table th, table td {
    vertical-align: middle;
    text-align: center;
  }

  /* Offcanvas Sidebar Styles */
  .offcanvas-wrapper {
    position: relative;
    background-color: #1b479e;
  }

  .offcanvas {
    background-color: #1b479e;
    color: white;
    width: 250px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: -250px;
    transition: left 0.3s ease-in-out;
    z-index: 1050;
  }

  .offcanvas-header {
    background-color: #1b479e;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .offcanvas-title {
    margin: 0;
  }

  .offcanvas-body {
    background-color: #041a31;
  }

  .offcanvas a {
    color: white;
    padding: 10px 15px;
    display: block;
    text-decoration: none;
  }

  .offcanvas a:hover,
  .offcanvas a.active {
    background-color: #fb8127;
    color: white;
  }

  .btn-close-white {
    color: white;
    background: none;
    border: none;
  }

  .offcanvas-wrapper .offcanvas.open {
    left: 0;
  }

  /* Dark Mode Styles */
  .dark-mode {
    background-color: #121212 !important;
    color: #e0e0e0;
  }

  .dark-mode .main-content,
  .dark-mode .offcanvas,
  .dark-mode .navbar,
  .dark-mode .card,
  .dark-mode .table {
    background-color: #1e1e1e !important;
    color: #fff;
  }

  .dark-mode .table th,
  .dark-mode .table td {
    color: #e0e0e0;
  }

  .dark-mode .table-dark {
    background-color: #aeaeae !important;
  }

  .dark-mode .offcanvas a {
    color: #e0e0e0;
  }

  .dark-mode .offcanvas a:hover,
  .dark-mode .offcanvas a.active {
    background-color: #fb8127;
    color: white;
  }