<%- include('../partials/header') %>



<section class="container text-center py-5">
    <h2 style="margin-top: 50px;">Thank You!</h2>
    <p>Your donation was received successfully. We are grateful for your support!</p>
    <a href="/" class="btn btn-outline-primary mt-3">Back to Homepage</a>
  </section>


  <%- include('../partials/testimonies') %>
<!-- Footer Partial -->
<%- include('../partials/footer') %>
